.text-field__label {
  color: #999;
  font-size: 14px;
}

.text-field__input {
  background-color: #fff;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  color: #495057;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 46px;
  margin-top: 8px;
  max-width: 300px;
  padding: 0 16px;
  width: 100%;
}